<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>win two free ipad nanos!</h1>
    <!-- Form action is the method post -->
    <form action="/results" method = POST>
        Full Name: <input type="text"
        name="full_name"><br>
        Motheers maiden name: <input type="text"
        name = "mothers_maiden_name"><br>
        Name of my first pet: <input type="text"
        name = "first_pet"> <br>
        Security number: <input type="number"
        name="social_security"><br>
        <!-- must be inside the form  -->
        <input type="submit">
    </form>
</body>
</html>