<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add New Recipe</h1>
    {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
    {% if messages %}                            <!-- check if there are any messages -->
        {% for message in messages %}            <!-- loop through the messages -->
            <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
        {% endfor %}
    {% endif %}
    {% endwith %}
    <form action="/new" method = 'POST'>

        <input type="hidden" name="id" id="{{id}}">

        <label for="title">Title:</label>
        <input type="text" name="title"> <br>

        <label for="description">Description:</label>
        <input type="text" name="description"> <br>


        <label for="price">Price</label>
        <input type="text" name="price">

        <input type="submit" value="Create"> <br>

        <a href="/dashboard">Dashboard</a> <br>
        <a href="/logout">Logout</a>

    </form>
</body>
</html>