<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="proccess" method = "POST">
    <h4>Name:</h4>
        <input type="text" name="name" id="name">
        <h4>Dojo Location:</h4>
        <select name="location" id="location">
            <option value="miami">Miami</option>
            <option value="new york">New York</option>
            <option value="san francisco">San Francisco</option>
        </select>
        <h4>Favorite Language</h4>
        <select name="language" id="">
            <option value="python">python  </option>
            <option value="java">Java</option>
            <option value="ruby">ruby</option>
        </select>
        <h4>Comment:</h4>
        <textarea name="comment" id="" cols="30" rows="10"></textarea> <br>
        <br>
        <input type="submit">
    </form>
</body>
</html>