.container {
    height: 900px;
    width: 500px;
}
.topbar {
    background-color: teal;
    height: 75px;
    padding-left: 30px;
}
img {
    width: 75px;
    margin-top: 40px}
.main {
    padding-top: 30px;
    padding-left: 18px;
    font-family: 'Inconsolata', monospace;
}
h3 > img {
    height: 25px;
    width: 20px;
    margin-right: 10px;
    display: inline-block;
    margin-top: 10px;
}
.gear {
    t
}
.gear > img {
    height: 20px;
    width: 20px;
    margin-right: 5px;
    margin-top: 10px;
    
}